/*
Tutorial Name: Meet the Team
Description: A simple concept for members section.
Author: Stanislav Kostadinov
Author URI: http://stanislav.it
Usage: You can use this code for free in personal and commercial projects if you build upon it. You are not allowed to republish, redistribute or sell "as-is". 
*/

/* 01. GENERAL SETTINGS ============================================ */

* {margin: 0; padding: 0;}

p {line-height: 160%;}

a {text-decoration: none; color: #fff; transition: all 0.1s ease-in;}
img {border: 0;}

body {

	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 13px;
	font-weight: 300;
	background: url(../discoveryftp.net/images/asfalt-light1.html);
	    height: 100%;

}

.clear {clear: both;}

/* Buttons */
.btn {
	display: inline-block;
	margin-top: 20px;
	padding: 10px 40px;
	color: rgba(255,255,255, 0.95);
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	border-radius: 20px;
	outline: 0;
	transition: all 0.1s ease-in;
}

.btn-transparent {background: rgba(0,0,0, 0.2);}
.btn-transparent:hover {background: rgba(0,0,0, 0.4);}

/* Separators */
.separator {
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.2);
	width: 30px;
	height: 5px;
}

/* 02. FONT FACE ============================================ */

@font-face {
    font-family: 'norwester';
	src: url('../fonts/norwester/norwester.html');
    src: url('../fonts/norwester/norwester86d786d786d7.html?iefix') format('embedded-opentype'),
		 url('../fonts/norwester/norwester-2.html');
    font-weight: normal;
}




/* 03. 
 * AKERS SETTINGS ============================================ */

#speakers {
	padding: 70px 0;
	text-align: center;	
	
}

#speakers p {
    padding: 13px 0 17px;
    color: rgba(255,255,255, 0.85);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0.2px;
    border-radius: 45px;
    margin-bottom: 50px;
    background: #0099ff;

}

#speakers h3 {
	padding: 0 0 15px;
	font-family: 'norwester';
	font-size: 36px;
	text-transform: uppercase;
}

#speakers h4  {
	margin-top: -20px;
	font-size: 32px;
	font-weight: 700;
	color: #fff;
}

#speakers h4 #fs {
	display: block;
	position: relative;
	left: -26px;
	top: 10px;
	font-size: 20px;
	background: none;
	padding: 0;
}
#speakers h4 #lt {
	display: block;
	position: relative;
	left: -43px;
	top: 10px;
	font-size: 20px;
	background: none;
	padding: 0;
}
#speakers h4 #emby {
	display: block;
	position: relative;
	left: -30px;
	top: 10px;
	font-size: 20px;
	background: none;
	padding: 0;
}
#speakers img {
    width: 100%;
    max-width: 150px;
    border-radius: 100%;
    border: 8px solid #0099ff;
    transition: all 0.1s ease-in;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
}
	
#speakers img:hover {
	border: 15px solid red;
	position: relative;
	z-index: 10;
	transition: all 0.1s ease-in;	
}

#speakers span {
	padding: 8px 20px;
	position: relative;
	top: 4px;
    left: 4px;
	display: inline-block;
	background: #0099ff;
	    border-radius: 20px;
	font-size: 16px;
}

/* Member Image Hover Effect */
.hover_img {
  display: none
}

.member-profile:hover .unhover_img{
  display: none;
}

.member-profile:hover .hover_img {
  display: block;
}

/* Social Networks Meta */
#speakers li {display: inline-block; padding: 0 6px; font-size: 18px;}
#speakers li a {color: rgba(0,0,0, 0.3); transition: all 0.1s ease-in;}
#speakers li a:hover {color: rgba(0,0,0, 0.7);}

/* Rows Optimization */
.row2 {
	display: none;
}

.row1 .col-md-3, .row2 .col-md-3 {
	padding-bottom: 40px;
}

/* Mobile Devices Optimization */
@media (min-width: 568px) and (max-width: 992px) {

	.row1 .col-md-3, .row2 .col-md-3 {
		display: inline-block;
		max-width: 50%;
	}

	#speakers img {max-width: 300px;}

}

.logo img{
	border: 5px !important;
    padding: 5px !important;
    transition: unset !important;
    width: auto !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}
.footer-left {
    padding: 12px 25px;
}

.footer-right {
    padding: 12px 25px;
}
.social-icons{
	padding: 2px;
	width: 40px;
    border-color: black;
    background-color: transparent;
    border: 1px solid;
	margin-left: 7px;
}
.footer-middle {
    padding: 12px 25px;
}
footer{
    background: black;
    max-height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
}

